# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
THUMB_IMAGE = "https://telegra.ph/file/e5768d0b5a4441b4e576b.jpg"
port = 5000
email = "cyberwarrior4286@gmail.com"
OWNER_NAME = "𝐌𝐮𝐡𝐦𝐦𝐚𝐝 𝐔𝐬𝐦𝐚𝐧"
AUTO_REACTION = true
FAKE_COUNTRY_CODE = 91
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 2
DISABLE_PM = false
ANTI_BAD_WORDS = "fuck"
LEVEL_UP_MESSAGE = true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= SIGMA_MD
WORKTYPE = public
PACK_INFO = "𝑪𝒀𝑩𝑬𝑹;𝑾𝑨𝑹𝑹𝑰𝑶𝑹"
ANTILINK_VALUES = "chat.whatsapp.com"
